CShrap/Generics/obj/
CShrap/Generics/bin/Debug/
CShrap/Delegate/bin/
CShrap/Delegate/obj/Debug/
CShrap/packages/
CShrap/CShrap/obj/
CShrap/CShrap/bin/
CShrap/DesignPatterns/FactoryPattern/bin/Debug/
CShrap/DesignPatterns/FactoryPattern/obj
CShrap/.vs
CShrap/DesignPatterns/AbstractFactory/bin
CShrap/DesignPatterns/AbstractFactory/obj
CShrap/DesignPatterns/Singleton/bin
CShrap/DesignPatterns/Singleton/obj
*.cd
